services:
  db:
    image: postgres:15-alpine
    container_name: postgres_db
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
    ports:
      - "5433:5432"

  backend:
    container_name: backend
    build: ./backend
    volumes:
      - ./backend:/app
    restart: always
    ports:
      - "${API_PORT}:8000"
    depends_on:
      - db
    env_file:
      - ./.env

volumes:
  postgres_data: